@using MobileSuitcase.Entities.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Iniciar sesión";
}

<div class="margin_auto w_25p">
    <div class=" text-center mar_t_20 mar_b_20">
        <h4>INICIO DE SESIÓN</h4>
        <h5>Por favor ingrese sus credenciales</h5>
    </div>

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "" })

        <div class="form-group">
            <div>
                @Html.LabelFor(m => m.UserName, "Usuario: ", new { @class = "" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "", @id = "UserName", @required = "true", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido." })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "" })

                @*<div class="absolute top_1_240_st right_0_240_st icon_input trans_03">
                        <label for="UserName" class="material-icons fs_1 c_gray3 trans_03">person</label>
                    </div>*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, "Contraseña: ", new { @class = "" })
            @Html.PasswordFor(m => m.Password, new { @class = "", @id = "Password", @required = "true", pattern = ".{8,}", oninvalid = "this.setCustomValidity('Este campo es requerido.')", oninput = "this.setCustomValidity('')", title = "Este campo es requerido.", MaxLength = 12 })

            <span class="helper-text" data-error="Debe tener al menos 8 caracteres" data-success="¡Listo!"></span>

            @*<div class="absolute top_1_240_st right_0_240_st icon_input trans_03">
                    <label for="pass" class="material-icons fs_1 c_gray3 trans_03">vpn_key</label>
                </div>*@
        </div>

        <div class="text-center" style="margin-bottom:20px">
            <button type="submit" class="btn btn-light">
                <span class="pad_lr_05 block black uppercase lh_15">Iniciar sesión</span>
            </button>
        </div>

    }
</div>
